<h2>
    My Posts
    <%= link_to 'Add New', new_post_path, class: "add" %>
</h2>

<ul>
    <% @posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
</ul>