/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container
{
    width: 400px;
    margin: 20px auto;
}

body
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
}

h2
{
    font-size: 32px;

    border-bottom: 1px solid #ddd;
}

.title
{
    margin: 20px auto;
}

.title a
{
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: #000;
}
.add
{
    font-size: .7em;

    float: right;
}

input[type='text'],
textarea
{
    box-sizing: border-box;
    width: 400px;
    padding: 5px;
}

textarea
{
    height: 160px;
}

.error
{
    font-size: 18px;
    font-weight: bold;

    color: tomato;
}
